<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../../public/css/style/reset.css">
    <link rel="stylesheet" href="../../../public/css/style/estilo.css">
    <link rel="stylesheet" href="../../../public/css/style/repositorio.css">
    <script src="/public/js/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Forum<span>MVC</span></h3>

            <p class="footer-links">
                <a href="#">Inicio</a>
                |
                <a href="#">Sobre</a>
                |
                <a href="#">Contato</a>
                |
                <a href="#">a</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>Nower79_</strong> Todos os direitos reservados</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Brasil</span>
                    Porto Alegre</p>
            </div>
            <div>
                <i class="fa fa-phone"></i>
                <p>(55) 51 99682-3874</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:ForumMVC@gmail.com">ForumMVC@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Sobre a Companhia</span>
                <strong>ForumMVC</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, exercitationem! Nemo delectus necessitatibus neque cumque fuga debitis excepturi aliquam architecto adipisci corporis nulla, voluptatibus beatae, dolorum facere odit. Dignissimos, maxime.
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/?locale=pt_BR" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/mateus-ferreira-cardozo/" target="_blank"> <i class="fa fa-linkedin"></i></a>
                <a href="https://twitter.com/i/flow/login" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>