<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="../../../public/css/style/reset.css">
    <link rel="stylesheet" href="../../../public/css/style/estilo.css">
    <link rel="stylesheet" href="../../../public/css/style/repositorio.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header>
        <h1 class="logo">logo</h1>
        <nav class="navegation">
            <div class="barra">
                <h2>barra de pesquisa</h2>
                <div class="search">
                    <a href="" target="_blank" hidden></a>
                    <input type="text" placeholder="pesquisar....">
                    <div class="list">

                    </div>
                    <div class="icon">link do icon</div>
                </div>
            </div>
            <a href=""></a>
        </nav>
    </header>
</body>
</html>